.gallery {
  margin-top: 10rem;
}
.gallery header {
  height: 21rem;
  border-bottom: 1px solid var(--font-light);
  position: relative;
  background-image: url("/gallery/gallery_hero.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position:right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}
.gallery header h1 {
  max-width: 1200px;
  margin-left: 10rem;
  font-size: 65px;
  font-weight: 800;
  font-style: italic;
}
.gallery_images {
  /* height: 100rem; */
  background-color: var(--call-to-action);
  width: 100vw;
  max-width: 100%;
  /* position: fixed; */
  left: 0;
  right: 0;
}
.gallery_images .images {
  width: 75%;
  background-color: var(--call-to-action);
  border-radius: 10px;
  /* height: 350px; */
  color: black;
  margin: 3rem auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.galleryGrid {
  display: grid;
  grid-auto-rows: minmax(141.72px, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: var(--call-to-action);
}

.headerGridImage {
  grid-column: 1/5;
  grid-row: 1;
}

.gallery header span {
  color: var(--accent-color);
}